:root {
	--card-color: rgb(250, 250, 250);
	--bg-color: rgb(240, 240, 240);
	--font-color: rgb(40, 40, 40);
}

body {
	background: var(--bg-color);

	margin: 0px;
	padding: 0px;

	display: grid;
	place-items: center;

	color: var(--font-color);
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: cornflowerblue;
}

h1,
h2,
h3 {
	text-align: center;
}

hr {
	width: 20vw;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 1rem;
	width: 95%;
	padding: 1rem;
	min-width: 300px;
}

#header-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0em 1em 0em 1em;
	width: 100%;
}

#header-card > .card-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header-card ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.text-align_left {
	text-align: left;
}

.text-align_right {
	text-align: right;
}

#certs > .cert {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0.5rem;
	padding-left: 0px;
	padding-top: 0px;
}

#certs > .cert:last-of-type {
	padding-bottom: 0px;
}

.cert-badge {
	height: 4em;
	width: 4em;
	margin-right: 1em;
	background-repeat: no-repeat;
	background-size: contain;
}

.text-date {
	font-size: 0.90em;
	color: rgb(100,100,100);

}

#certs > #pd1-cert > .cert-badge {
	background-image: url('./Platform-Developer-I_500x490px.png');
}

#certs > #jd1-cert > .cert-badge {
	background-image: url('./JavaScript-Developer-I_500x490px.png');
}

.card {
	background: var(--card-color);
	border-radius: 1em;
	width: 100%;
	min-height: 100px;
	padding: 1em;
}

.skillbox {
	width: 45%;
}

#skills-and-certs {
	display: flex;
	flex-flow: row nowrap;
	align-items: start;
	justify-content: space-between;
}

#education {
	display: flex;
	flex-flow: column nowrap;
}

.work-history-item_details {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 0.5rem;
	gap: 1rem;
	/* border: 1px solid red; */
}

.work-history-item_info ul {
	list-style-position: outside;
}

.work-history-item_details > .work-history-item_info {
	/* border: 1px dashed blue; */
}

@media only screen {

	.card > h3 {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 600px) {
	#header-card > .card-content {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	#header-card > .card-content > #contact {
		width: 50%;
		order: 2;
	}

	#header-card > .card-content > #header-name {
		order: 1;
		width: 100%;
		text-align: center;
	}

	#header-card > .card-content > #links {
		width: 50%;
		order: 3;
	}
}

@media print {
	body {
        font-size: 76%;
        background-color: unset;
    }

	h3 {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	h4 {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	ul {
		/* margin: 0px; */
		padding-left: 1rem;
	}
    
	#header-card {
		padding: 0px;
        margin: 0px;
	}
    
    #header-card > .card-content {
        border: none;
		padding-top: 0px;
		padding-bottom: 0px;
    }

	.card {
		padding: 0px;
        background-color: unset;
		min-height: unset;
	}
    
    .card > .card-content {
        border: 1px solid lightgrey;
        border-radius: 0.5em;
        padding: 0.5em;
    }

	.container {
		gap: 0px;
        padding: 0px;
        width: 100%;
        margin: 0px;
	}

	.cert-badge {
		height: unset;
		width: unset;
		margin-right: unset;
		background: none;
	}
}
