:root {
	--card-color: rgb(250, 250, 250);
	--bg-color: rgb(240, 240, 240);
	--font-color: rgb(40, 40, 40);
}

body {
	background: var(--bg-color);

	margin: 0px;
	padding: 0px;

	display: grid;
	place-items: center;

	color: var(--font-color);
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: cornflowerblue;
}

h1,
h2,
h3 {
	text-align: center;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 1rem;
	width: 95%;
	padding: 1rem;
	min-width: 300px;
}

#header-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0em 1em 0em 1em;
	width: 100%;
}

#header-card > .card-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header-card ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#contact {
	text-align: left;
}

#links {
	text-align: right;
}

#skills-and-certs {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: start;
}

.skillbox {
	width: 45%;
}

.card {
	background: var(--card-color);
	border-radius: 1em;
	width: 100%;
	min-height: 100px;
	padding: 1em;
}

.card > h3 {
	margin-top: 0px;
}

@media only screen and (max-width: 600px) {
	#header-card > .card-content {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	#header-card > .card-content > #contact {
		width: 50%;
		order: 2;
	}

	#header-card > .card-content > #header-name {
		order: 1;
		width: 100%;
		text-align: center;
	}

	#header-card > .card-content > #links {
		width: 50%;
		order: 3;
	}
}

@media print {

	#header-card {
		padding: 0px;
	}

	.card {
		padding: 0px;
	}

	.container {
		gap: 0px;
	}
}
